.products {
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}

.product {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.product img {
  max-width: 250px;
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  border-radius: 4px;
  background: #fff;
}
