#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.room {
  display: flex;
  align-items: center;
  right: 0;
}
.room img {
  width: 20px;
  height: 20px;
  padding-right: 0.5em;
}

.card {
  padding: 1rem;
  background-color: #333;
}
.card ul {
  padding-left: 0px;
}

/* -------------------------------------- */
.accordion ul {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.accordion input:checked ~ ul {
  max-height: 500px; /* Ajusta este valor según tus necesidades */
}

.open {
  max-height: 500px; /* Ajusta este valor según tus necesidades */
  transition: max-height 1s ease-in-out;
}

.closed {
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s ease-in-out;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.room {
  display: flex;
  align-items: center;
  animation: fadeIn 1s ease-in-out;
}

.room img {
  width: 20px;
  height: 20px;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
